.button{
    margin: 10rem;
    box-shadow: 2rem;
    padding: 3rem;
    background-color: blueviolet;
    
}

input {
    width: 100%;
  }

.meter{
    margin: 3rem;
    background: var(--background);
    display: block;
    margin-bottom: 1em;
    width: 100%;

}